Package: vlc-plugin-vlsub
Version: 0.9.10
Architecture: all
Maintainer: Simon Gareste <simon.gareste@gmail.com>
Installed-Size: 94
Depends: vlc (>= 1.1)
Section: video
Priority: optional
Homepage: http://addons.videolan.org/content/show.php?action=content&content=148752
Description: VLC extension to download subtitles from opensubtitles.org
 Search and download subtitles from opensubtitles.org using the hash of the video currently playing or its title.
